{% extends "base.html" %}
{% block title %}
{% endblock title %}
{% block header %}
    {% include "logined_header.html" %}
{% endblock header %}
{% block custom_css %}
<style>
    p{
        color:white;
    };
    .form-control{
        max-width: 150px;
        position: absolute;
    }
</style>
{% endblock custom_css %}
{% block main_content %}
<form  class='form-signin'  method="POST">
    <p>Номер сотрудника</p>
    <input type="number" class="form-control" id='staff_id' name='staff_id'><br><br>
    <input type="submit" value="Изменить"><br>
</form>
{% endblock main_content %}
{% block side_script %}
{% endblock side_script %}