{% extends "base.html" %}
{% block title %}Логин
{% endblock title %}
{% block main_content %}
<div class="text-center">
    <form class='form-signin'  method="post">
        <p>Логин</p>
        <input class="form-control" type="text" placeholder='логин' id='username' name='username'><br>
        <p>Пароль</p>
        <input class="form-control" type="password" placeholder='пароль' id='password' name='password'><br>
        <input  class='btn btn-lg btn-primary btn-block'type="submit" value="Войти">
    </form>

</div>
{% endblock main_content %}
